# Agenda

1. Comprehensions
    - List comprehensions
    - Set comprehensions
    - Dict comprehensions
    - Nested comprehensions
2. Functions as arguments
3. `lambda`
4. Nested functions and the `operator` module

# Parameter types

1. Positional-only arguments, before a `/`
2. Mandatory parameters (positional or keyword)
3. Optional parameters, with defaults (positional or keyword)
4. `*args`, a tuple with all leftover positional arguments (or `*` by itself)
5. Mandatory keyword-only parameters
6. Optional keyword-only parameters (with defaults)
7. `**kwargs`, a dict with all leftover keyword arguments

In [3]:
def myfunc(a, b, *, c, d=100):
    return f'{a=}, {b=}, {c=}, {d=}'

In [4]:
# parameters: a    b   c    d
# arguments: 10    20  

myfunc(10, 20, 30, 40)  # 4 positional arguments

TypeError: myfunc() takes 2 positional arguments but 4 were given

In [6]:
# parameters:   a   b   c   d 
# arguments:   10  20   30  40

myfunc(10, 20, c=30, d=40)

'a=10, b=20, c=30, d=40'

In [7]:
myfunc(10, 20, d=30, c=40)

'a=10, b=20, c=40, d=30'

In [8]:
myfunc(10, 20, c=30)

'a=10, b=20, c=30, d=100'

In [9]:
myfunc(a=10, b=20, c=30)

'a=10, b=20, c=30, d=100'

In [10]:
# / slash
# \ backslash

In [11]:
def myfunc(a, /, b, *, c):
    return f'{a=}, {b=}, {c=}'

In [12]:
myfunc(10, 20, 30)

TypeError: myfunc() takes 2 positional arguments but 3 were given

In [13]:
myfunc(a=10, b=20, c=30)

TypeError: myfunc() got some positional-only arguments passed as keyword arguments: 'a'

In [15]:
def myfunc(a, *, b, /, c):
    pass

SyntaxError: invalid syntax (3892846933.py, line 1)

# Comprehensions

In [16]:
numbers = list(range(10))

# we want a list of these numbers to the 2nd power (** 2)

output = []

for one_number in numbers:
    output.append(one_number ** 2)
    
output

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [17]:
# list comprehension
[one_number ** 2 
 for one_number in numbers]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [18]:
[print(one_number**2)
 for one_number in numbers]

0
1
4
9
16
25
36
49
64
81

[None, None, None, None, None, None, None, None, None, None]

In [20]:
def times_2(x):
    print(f'\tNow calculating {x} * 2')
    return x * 2


[times_2(one_number)         # SELECT
for one_number in numbers]   # FROM

	Now calculating 0 * 2
	Now calculating 1 * 2
	Now calculating 2 * 2
	Now calculating 3 * 2
	Now calculating 4 * 2
	Now calculating 5 * 2
	Now calculating 6 * 2
	Now calculating 7 * 2
	Now calculating 8 * 2
	Now calculating 9 * 2

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [21]:
# don't use this!
['odd' if one_number % 2 else 'even'
 for one_number in numbers    
]

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

# Exercises: Comprehensions

1. Ask the user to enter a string with numbers, separated by spaces (`'10 20 30 40'`).  Add all of these numbers together.
2. Ask the user to enter a sentence.  Calculate how many non-whitespace characters are in the sentence.
3. Ask the user to enter a sentence.  Return a new string, based on the user's sentence, in which every word starts with a capital letter.  (The result should be the same as running `str.title`, but without actually running it.)

In [22]:
s = input('Enter numbers: ')

Enter numbers: 10 20 30 40

In [27]:
sum([int(one_number)
     for one_number in s.split()])

100

In [28]:
s = input('Enter a sentence: ').strip()

Enter a sentence: this is a test sentence

In [29]:
len(s)

23

In [30]:
len(s) - s.count(' ')

19

In [32]:
sum([len(one_word)
 for one_word in s.split()])

19

In [33]:
s

'this is a test sentence'

In [34]:
s.title()

'This Is A Test Sentence'

In [39]:
' '.join([one_word.capitalize()
 for one_word in s.split()])

'This Is A Test Sentence'

In [ ]:
def sum_string_numbers(s):
sum([int(one_number)
     for one_number in s.split()])