# Agenda

1. Comprehensions
    - List comprehensions
    - Set comprehensions
    - Dict comprehensions
    - Nested comprehensions
2. Functions as arguments
3. `lambda`
4. Nested functions and the `operator` module

# Parameter types

1. Positional-only arguments, before a `/`
2. Mandatory parameters (positional or keyword)
3. Optional parameters, with defaults (positional or keyword)
4. `*args`, a tuple with all leftover positional arguments (or `*` by itself)
5. Mandatory keyword-only parameters
6. Optional keyword-only parameters (with defaults)
7. `**kwargs`, a dict with all leftover keyword arguments

In [3]:
def myfunc(a, b, *, c, d=100):
    return f'{a=}, {b=}, {c=}, {d=}'

In [4]:
# parameters: a    b   c    d
# arguments: 10    20  

myfunc(10, 20, 30, 40)  # 4 positional arguments

TypeError: myfunc() takes 2 positional arguments but 4 were given

In [6]:
# parameters:   a   b   c   d 
# arguments:   10  20   30  40

myfunc(10, 20, c=30, d=40)

'a=10, b=20, c=30, d=40'

In [7]:
myfunc(10, 20, d=30, c=40)

'a=10, b=20, c=40, d=30'

In [8]:
myfunc(10, 20, c=30)

'a=10, b=20, c=30, d=100'

In [9]:
myfunc(a=10, b=20, c=30)

'a=10, b=20, c=30, d=100'

In [10]:
# / slash
# \ backslash

In [11]:
def myfunc(a, /, b, *, c):
    return f'{a=}, {b=}, {c=}'

In [12]:
myfunc(10, 20, 30)

TypeError: myfunc() takes 2 positional arguments but 3 were given

In [13]:
myfunc(a=10, b=20, c=30)

TypeError: myfunc() got some positional-only arguments passed as keyword arguments: 'a'

In [15]:
def myfunc(a, *, b, /, c):
    pass

SyntaxError: invalid syntax (3892846933.py, line 1)

# Comprehensions

In [16]:
numbers = list(range(10))

# we want a list of these numbers to the 2nd power (** 2)

output = []

for one_number in numbers:
    output.append(one_number ** 2)
    
output

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [17]:
# list comprehension
[one_number ** 2 
 for one_number in numbers]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [18]:
[print(one_number**2)
 for one_number in numbers]

0
1
4
9
16
25
36
49
64
81

[None, None, None, None, None, None, None, None, None, None]

In [20]:
def times_2(x):
    print(f'\tNow calculating {x} * 2')
    return x * 2


[times_2(one_number)         # SELECT
for one_number in numbers]   # FROM

	Now calculating 0 * 2
	Now calculating 1 * 2
	Now calculating 2 * 2
	Now calculating 3 * 2
	Now calculating 4 * 2
	Now calculating 5 * 2
	Now calculating 6 * 2
	Now calculating 7 * 2
	Now calculating 8 * 2
	Now calculating 9 * 2

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [21]:
# don't use this!
['odd' if one_number % 2 else 'even'
 for one_number in numbers    
]

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

# Exercises: Comprehensions

1. Ask the user to enter a string with numbers, separated by spaces (`'10 20 30 40'`).  Add all of these numbers together.
2. Ask the user to enter a sentence.  Calculate how many non-whitespace characters are in the sentence.
3. Ask the user to enter a sentence.  Return a new string, based on the user's sentence, in which every word starts with a capital letter.  (The result should be the same as running `str.title`, but without actually running it.)

In [22]:
s = input('Enter numbers: ')

Enter numbers: 10 20 30 40

In [27]:
sum([int(one_number)
     for one_number in s.split()])

100

In [28]:
s = input('Enter a sentence: ').strip()

Enter a sentence: this is a test sentence

In [29]:
len(s)

23

In [30]:
len(s) - s.count(' ')

19

In [32]:
sum([len(one_word)
 for one_word in s.split()])

19

In [33]:
s

'this is a test sentence'

In [34]:
s.title()

'This Is A Test Sentence'

In [39]:
' '.join([one_word.capitalize()
 for one_word in s.split()])

'This Is A Test Sentence'

In [40]:
def sum_string_numbers(s):
    return sum([int(one_number)
                 for one_number in s.split()])

In [41]:
sum_string_numbers('10 20 30')

60

In [42]:
import dis
dis.dis(sum_string_numbers)

  2           0 LOAD_GLOBAL              0 (sum)
              2 LOAD_CONST               1 (<code object <listcomp> at 0x10f55bb50, file "/var/folders/rr/0mnyyv811fs5vyp22gf4fxk00000gn/T/ipykernel_88535/998994435.py", line 2>)
              4 LOAD_CONST               2 ('sum_string_numbers.<locals>.<listcomp>')
              6 MAKE_FUNCTION            0

  3           8 LOAD_FAST                0 (s)
             10 LOAD_METHOD              1 (split)
             12 CALL_METHOD              0

  2          14 GET_ITER
             16 CALL_FUNCTION            1
             18 CALL_FUNCTION            1
             20 RETURN_VALUE

Disassembly of <code object <listcomp> at 0x10f55bb50, file "/var/folders/rr/0mnyyv811fs5vyp22gf4fxk00000gn/T/ipykernel_88535/998994435.py", line 2>:
  2           0 BUILD_LIST               0
              2 LOAD_FAST                0 (.0)
        >>    4 FOR_ITER                 6 (to 18)

  3           6 STORE_FAST               1 (one_number)

  2           8 LOAD_GLOBAL              0 (int)
             10 LOAD_FAST                1 (one_number)
             12 CALL_FUNCTION            1
             14 LIST_APPEND              2
             16 JUMP_ABSOLUTE            2 (to 4)
        >>   18 RETURN_VALUE

In [46]:
[one_line.split(':')[0]               # expression -- SELECT
 for one_line in open('/etc/passwd')  # iteration  -- FROM
 if not one_line.startswith('#')]     # condition  -- WHERE

['nobody',
 'root',
 'daemon',
 '_uucp',
 '_taskgated',
 '_networkd',
 '_installassistant',
 '_lp',
 '_postfix',
 '_scsd',
 '_ces',
 '_appstore',
 '_mcxalr',
 '_appleevents',
 '_geod',
 '_devdocs',
 '_sandbox',
 '_mdnsresponder',
 '_ard',
 '_www',
 '_eppc',
 '_cvs',
 '_svn',
 '_mysql',
 '_sshd',
 '_qtss',
 '_cyrus',
 '_mailman',
 '_appserver',
 '_clamav',
 '_amavisd',
 '_jabber',
 '_appowner',
 '_windowserver',
 '_spotlight',
 '_tokend',
 '_securityagent',
 '_calendar',
 '_teamsserver',
 '_update_sharing',
 '_installer',
 '_atsserver',
 '_ftp',
 '_unknown',
 '_softwareupdate',
 '_coreaudiod',
 '_screensaver',
 '_locationd',
 '_trustevaluationagent',
 '_timezone',
 '_lda',
 '_cvmsroot',
 '_usbmuxd',
 '_dovecot',
 '_dpaudio',
 '_postgres',
 '_krbtgt',
 '_kadmin_admin',
 '_kadmin_changepw',
 '_devicemgr',
 '_webauthserver',
 '_netbios',
 '_warmd',
 '_dovenull',
 '_netstatistics',
 '_avbdeviced',
 '_krb_krbtgt',
 '_krb_kadmin',
 '_krb_changepw',
 '_krb_kerberos',
 '_krb_anonymous',
 '_assetcache',
 '_coremediaiod',
 '_launchservicesd',
 '_iconservices',
 '_distnote',
 '_nsurlsessiond',
 '_displaypolicyd',
 '_astris',
 '_krbfast',
 '_gamecontrollerd',
 '_mbsetupuser',
 '_ondemand',
 '_xserverdocs',
 '_wwwproxy',
 '_mobileasset',
 '_findmydevice',
 '_datadetectors',
 '_captiveagent',
 '_ctkd',
 '_applepay',
 '_hidd',
 '_cmiodalassistants',
 '_analyticsd',
 '_fpsd',
 '_timed',
 '_nearbyd',
 '_reportmemoryexception',
 '_driverkit',
 '_diskimagesiod',
 '_logd',
 '_appinstalld',
 '_installcoordinationd',
 '_demod',
 '_rmd',
 '_accessoryupdater',
 '_knowledgegraphd',
 '_coreml',
 '_sntpd',
 '_trustd',
 '_darwindaemon',
 '_notification_proxy',
 '_oahd']

In [48]:
!ls

WDC-2022-05May-17.html	     config.txt		   output.txt
WDC-2022-05May-17.ipynb      linux-etc-passwd.txt  python-workout-cover.png
WDC-2022-05May-19.html	     mini-access-log.txt   shoe-data.txt
WDC-2022-05May-19.ipynb      movies.dat		   taxi.csv
WDC-2022-05May-23.ipynb      nums.txt		   wdc-2022-05May-17.zip
advanced-exercise-files.zip  outfile.txt	   wdc-2022-05May-19.zip

In [49]:
!cat nums.txt

5
	10
	20
  	3
		   	20

 25

# Exercise: Sum the numbers

Use a list comprehension to read from `nums.txt`, and sum the numbers.

In [52]:
[int(one_line.strip())
 for one_line in open('nums.txt')]

ValueError: invalid literal for int() with base 10: ''

In [53]:
int()

0

In [54]:
int('10')

10

In [55]:
int('   10     ')

10

In [56]:
int('')

ValueError: invalid literal for int() with base 10: ''

In [60]:
[int(one_line)
 for one_line in open('nums.txt')
 if one_line.strip()]

[5, 10, 20, 3, 20, 25]

In [62]:
sum([int(one_line)
 for one_line in open('nums.txt')
 if one_line.strip().isdigit()])

83

In [63]:
!head shoe-data.txt

Adidas	orange	43
Nike	black	41
Adidas	black	39
New Balance	pink	41
Nike	white	44
New Balance	orange	38
Nike	pink	44
Adidas	pink	44
New Balance	orange	39
New Balance	black	43

# Exercise: Shoe dicts

1. Based on `shoe-data.txt`, create a list of dicts, one dict for each row (shoe) in the file.
2. The columns are separated by tabs, `'\t'`.
3. You can leave the size as a string, if you want.
4. I suggest writing a function that takes the current line (string) and returns a dict based on it.

```python
[
{'brand':'Adidas',
 'color':'orange',
 'size':'43'},
{'brand':'Nike',
 'color':'black',
 'size':'41'},
...
]

```

In [67]:
def line_to_dict(s):
    brand, color, size = s.strip().split('\t')
    
    return {'brand':brand,
           'color':color,
           'size':size}

[line_to_dict(one_line)
 for one_line in open('shoe-data.txt')]

[{'brand': 'Adidas', 'color': 'orange', 'size': '43'},
 {'brand': 'Nike', 'color': 'black', 'size': '41'},
 {'brand': 'Adidas', 'color': 'black', 'size': '39'},
 {'brand': 'New Balance', 'color': 'pink', 'size': '41'},
 {'brand': 'Nike', 'color': 'white', 'size': '44'},
 {'brand': 'New Balance', 'color': 'orange', 'size': '38'},
 {'brand': 'Nike', 'color': 'pink', 'size': '44'},
 {'brand': 'Adidas', 'color': 'pink', 'size': '44'},
 {'brand': 'New Balance', 'color': 'orange', 'size': '39'},
 {'brand': 'New Balance', 'color': 'black', 'size': '43'},
 {'brand': 'New Balance', 'color': 'orange', 'size': '44'},
 {'brand': 'Nike', 'color': 'black', 'size': '41'},
 {'brand': 'Adidas', 'color': 'orange', 'size': '37'},
 {'brand': 'Adidas', 'color': 'black', 'size': '38'},
 {'brand': 'Adidas', 'color': 'pink', 'size': '41'},
 {'brand': 'Adidas', 'color': 'white', 'size': '36'},
 {'brand': 'Adidas', 'color': 'orange', 'size': '36'},
 {'brand': 'Nike', 'color': 'pink', 'size': '41'},
 {'brand': 'Adidas', 'color': 'pink', 'size': '35'},
 {'brand': 'New Balance', 'color': 'orange', 'size': '37'},
 {'brand': 'Nike', 'color': 'pink', 'size': '43'},
 {'brand': 'Nike', 'color': 'black', 'size': '43'},
 {'brand': 'Nike', 'color': 'black', 'size': '42'},
 {'brand': 'Nike', 'color': 'black', 'size': '35'},
 {'brand': 'Adidas', 'color': 'black', 'size': '41'},
 {'brand': 'New Balance', 'color': 'pink', 'size': '40'},
 {'brand': 'Adidas', 'color': 'white', 'size': '35'},
 {'brand': 'New Balance', 'color': 'pink', 'size': '41'},
 {'brand': 'New Balance', 'color': 'orange', 'size': '41'},
 {'brand': 'Adidas', 'color': 'orange', 'size': '40'},
 {'brand': 'New Balance', 'color': 'orange', 'size': '40'},
 {'brand': 'New Balance', 'color': 'white', 'size': '44'},
 {'brand': 'New Balance', 'color': 'pink', 'size': '40'},
 {'brand': 'Nike', 'color': 'black', 'size': '43'},
 {'brand': 'Nike', 'color': 'pink', 'size': '36'},
 {'brand': 'New Balance', 'color': 'white', 'size': '39'},
 {'brand': 'Nike', 'color': 'black', 'size': '42'},
 {'brand': 'Adidas', 'color': 'black', 'size': '41'},
 {'brand': 'New Balance', 'color': 'orange', 'size': '40'},
 {'brand': 'New Balance', 'color': 'black', 'size': '40'},
 {'brand': 'Nike', 'color': 'white', 'size': '37'},
 {'brand': 'Adidas', 'color': 'black', 'size': '39'},
 {'brand': 'Adidas', 'color': 'black', 'size': '40'},
 {'brand': 'Adidas', 'color': 'orange', 'size': '38'},
 {'brand': 'New Balance', 'color': 'orange', 'size': '39'},
 {'brand': 'Nike', 'color': 'black', 'size': '35'},
 {'brand': 'Adidas', 'color': 'white', 'size': '39'},
 {'brand': 'Nike', 'color': 'white', 'size': '37'},
 {'brand': 'Adidas', 'color': 'orange', 'size': '37'},
 {'brand': 'Adidas', 'color': 'pink', 'size': '35'},
 {'brand': 'New Balance', 'color': 'orange', 'size': '41'},
 {'brand': 'Nike', 'color': 'pink', 'size': '44'},
 {'brand': 'Nike', 'color': 'pink', 'size': '38'},
 {'brand': 'Adidas', 'color': 'black', 'size': '39'},
 {'brand': 'New Balance', 'color': 'white', 'size': '35'},
 {'brand': 'Nike', 'color': 'pink', 'size': '40'},
 {'brand': 'Nike', 'color': 'white', 'size': '44'},
 {'brand': 'Nike', 'color': 'orange', 'size': '38'},
 {'brand': 'Adidas', 'color': 'orange', 'size': '42'},
 {'brand': 'New Balance', 'color': 'orange', 'size': '43'},
 {'brand': 'Adidas', 'color': 'pink', 'size': '39'},
 {'brand': 'Adidas', 'color': 'pink', 'size': '41'},
 {'brand': 'Adidas', 'color': 'pink', 'size': '39'},
 {'brand': 'Nike', 'color': 'white', 'size': '37'},
 {'brand': 'Nike', 'color': 'orange', 'size': '38'},
 {'brand': 'Adidas', 'color': 'orange', 'size': '39'},
 {'brand': 'Nike', 'color': 'pink', 'size': '40'},
 {'brand': 'Adidas', 'color': 'white', 'size': '36'},
 {'brand': 'Nike', 'color': 'orange', 'size': '40'},
 {'brand': 'New Balance', 'color': 'pink', 'size': '40'},
 {'brand': 'New Balance', 'color': 'black', 'size': '40'},
 {'brand': 'New Balance', 'color': 'pink', 'size': '40'},
 {'brand': 'Adidas', 'color': 'pink', 'size': '41'},
 {'brand': 'Nike', 'color': 'pink', 'size': '40'},
 {'brand': 'Nike', 'color': 'black', 'size': '41'},
 {'brand': 'Nike', 'color': 'black', 'size': '39'},
 {'brand': 'New Balance', 'color': 'white', 'size': '38'},
 {'brand': 'Adidas', 'color': 'black', 'size': '41'},
 {'brand': 'Nike', 'color': 'orange', 'size': '36'},
 {'brand': 'Nike', 'color': 'black', 'size': '38'},
 {'brand': 'New Balance', 'color': 'black', 'size': '40'},
 {'brand': 'New Balance', 'color': 'pink', 'size': '40'},
 {'brand': 'Adidas', 'color': 'black', 'size': '42'},
 {'brand': 'Adidas', 'color': 'white', 'size': '40'},
 {'brand': 'New Balance', 'color': 'orange', 'size': '38'},
 {'brand': 'Nike', 'color': 'pink', 'size': '41'},
 {'brand': 'Adidas', 'color': 'orange', 'size': '37'},
 {'brand': 'Nike', 'color': 'black', 'size': '44'},
 {'brand': 'Adidas', 'color': 'pink', 'size': '36'},
 {'brand': 'Adidas', 'color': 'white', 'size': '35'},
 {'brand': 'Nike', 'color': 'black', 'size': '38'},
 {'brand': 'Nike', 'color': 'pink', 'size': '42'},
 {'brand': 'New Balance', 'color': 'black', 'size': '43'},
 {'brand': 'Nike', 'color': 'white', 'size': '38'},
 {'brand': 'New Balance', 'color': 'pink', 'size': '39'},
 {'brand': 'Nike', 'color': 'orange', 'size': '39'},
 {'brand': 'New Balance', 'color': 'orange', 'size': '40'},
 {'brand': 'New Balance', 'color': 'white', 'size': '44'},
 {'brand': 'Adidas', 'color': 'black', 'size': '42'},
 {'brand': 'Nike', 'color': 'black', 'size': '35'}]

In [ ]:
def line_to_dict(s):
    return dict(zip(['brand', 'color', 'size'],
                   s.strip().split('\t')))

[line_to_dict(one_line)
 for one_line in open('shoe-data.txt')]

In [69]:
# dict() creates a dict based on a list of tuples

dict(zip(['a', 'b', 'c'],
         [100, 200, 300]))

{'a': 100, 'b': 200, 'c': 300}

# Sum unique numbers

In [70]:
s = input('Enter numbers: ').strip()

print(sum([int(one_number)
          for one_number in s.split()]))

Enter numbers: 10 20 30 40
100

In [71]:
# what if I want to sum the different/unique numbers?

s = input('Enter numbers: ').strip()

print(sum([int(one_number)
          for one_number in s.split()]))

Enter numbers: 10 20 30 10 20 30
120

In [72]:
# sets are a great way to get the unique values from a list!

print(sum(set([int(one_number)
          for one_number in s.split()])))

60

In [73]:
set([int(one_number)
          for one_number in s.split()])

{10, 20, 30}

# Set comprehension

Just like a list comprehension, except:
- Use `{}` around the comprehension
- The result is a set, not a list
-